<%= form_with model: @plant, url: admin_plants_path, local:true do |f| %>
	<div class="d-flex align-items-center justify-content-center flex-wrap">
  	<div class="m-2">
  		<div><%= attachment_image_tag @plant, :image, :fill, 200, 200 , fallback: "karasazu_logo.jpg" %></div>
  		<div><%= f.attachment_field :image %></div>
  	</div>
    <div class="align-items-center justify-content-center m-2">
	    <h2>植物情報追加</h2>
		  <table class="table table-border">
	      <tr>
          <td><%= f.label :plant_name, "植物名" %></td>
          <td><%= f.text_field :plant_name %></td>
        </tr>
        <tr>
          <td><%= f.label :frequency, "水やり頻度:" %></td>
          <td><%= f.text_field :frequency %>日ごと</td>
        </tr>
        <tr>
          <td><%= f.label :amount, "水量:" %></td>
          <td><%= f.text_field :amount %></td>
        </tr>
        <tr>
          <td><%= f.label :advice, "育成アドバイス:" %></td>
          <td><%= f.text_area :advice %></td>
        </tr>
      </table>
		<%= f.submit '登録する', class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>