<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>
    こんにちは！
    <%= @grow_plant.user.name %> さん
  </h2>

  <hr />
    <p>今日は｢<%= @grow_plant.nick_name %>｣の水やり日です!</p>
    <p>水やりを完了させましょう!</p>
    <p>サイトへは<%= link_to "こちら", @url %>からアクセスできます</p>
  <hr />

<% if @grow_plant.plant.present? %>
  <table>
    <tr>
      <td>植物名:</td>
      <td><%= @grow_plant.plant.plant_name %></td>
    </tr>
    <tr>
      <td>愛称:</td>
      <td><%= @grow_plant.nick_name %></td>
    </tr>
    <tr>
      <td>水やり水量:</td>
      <td><%= @grow_plant.plant.amount %></td>
    </tr>
    <tr>
      <td>育成環境:</td>
      <td><%= @grow_plant.place %></td>
    </tr>
    <tr>
      <td>育成アドバイス</td>
      <td><%= @grow_plant.plant.advice %></td>
      </tr>
  </table>
<% end %>
  <%= image_tag attachments['logo_top.png'].url %>
</body>
</html>