<div class="container">
  <%= form_with model: @grow_plant, url: grow_plant_path, method: :patch, local: true do |f| %>
    <div class="d-flex align-items-center justify-content-center flex-wrap mt-5">
      <div class="container text-center m-2">
        <%= attachment_image_tag @grow_plant, :image, :fill, 200, 200 %><br />
        <%= f.attachment_field :image %>
      </div>
      <div class="align-items-center justify-content-center container">
        <h2 class="none">育成植物編集</h2>
        <table class="table table-border container">
          <% if @grow_plant.plant.present? %>
            <tr>
              <td>植物名</td>
              <td><%= @grow_plant.plant.plant_name %></td>
            </tr>
            <tr>
              <td><%= f.label :nick_name, "愛称" %></td>
              <td><%= f.text_field :nick_name %></td>
            </tr>
            <tr>
              <td class="nowrap"><%= f.label :place, "育成環境" %></td>
              <td>
                <%= f.select :place, GrowPlant.places.keys.to_a, {}, class: 'form-control'%>
                <span class="text-muted">推奨環境は｢<%= @grow_plant.plant.recommend_place %>｣です</span>
              </td>
            </tr>
          <% else %>
            <tr>
              <td><%= f.label :plant_name, "植物名" %></td>
              <td><%= f.text_field :plant_name %></td>
            </tr>
    	      <tr>
              <td><%= f.label :nick_name, "愛称" %></td>
              <td><%= f.text_field :nick_name %></td>
            </tr>
            <tr>
              <td><%= f.label :frequency, "水やり頻度" %></td>
              <td><%= f.text_field :frequency %>日ごと</td>
            </tr>
            <tr>
              <td><%= f.label :amount, "水量" %></td>
              <td><%= f.text_field :amount %></td>
            </tr>
            <tr>
              <td><%= f.label :place, "育成環境" %></td>
              <td><%= f.select :place, GrowPlant.places.keys.to_a, {}, class: 'form-control'%></td>
            </tr>
            <tr>
              <td class="nowrap"><%= f.label :advice, "育成ポイント" %></td>
              <td><%= f.text_area :advice %></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td class="text-right"><%= f.submit "更新する", class: "btn btn-outline-primary" %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center text-danger">
  <% if @grow_plant.errors.any? %>
    <ul>
      <% @grow_plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


