<h2>育成植物選択</h2>
  <%= attachment_image_tag @plant, :image, :fill, 200, 200 %>
  <%= @plant.plant_name %>

  <%= form_with model: @grow_plant, url: grow_plants_path, local:true do |f| %>
    <%= f.hidden_field :plant_id, value: @plant.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :nick_name, "愛称:" %>
    <%= f.text_field :nick_name %>
    <%= f.submit "育成中へ登録する" %>
  <% end %>

  <%= link_to "戻る", grow_plants_path %>