
  <div class="d-flex above around">
    <div class="col-2"></div>
    <h1 class=" m-auto">育成中植物一覧</h1>
    <div class="col-2 d-flex">
      <%= link_to grow_plants_path do %>
        <i class="fas fa-plus-circle fa-3x"></i>
      <% end %>
    </div>
  </div>

  <h3 class="col-3 text-center around">育成中リスト</h3>
  <div class="d-flex">
    <div class="col-3 side around overflow-auto">
      <% @grow_plants.each do |grow_plant| %>
        <div class="d-flex align-items-center justify-content-center">
          <%= link_to grow_plant_path(grow_plant) do %>
            <%= attachment_image_tag grow_plant, :image, :fill, 120, 120 %>
          <% end %>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <p><%= grow_plant.nick_name %></p>

        </div>
      <% end %>
    </div>
    <div class="col d-flex align-items-center">
      <%= image_tag 'isometric_drawing.png', class: "room"%>
    </div>
  </div>

  <%# binding.pry%>
  <!--<if @grow_plants[0] >-->
  <!--  <div>-->
  <!--    <%#= attachment_image_tag @grow_plants[0].plant, :image, :fill, 120, 120 %>-->
  <!--  </div>-->

  <!--<elsif @grow_plants[1].plant.image >-->
  <!--  <div id="">-->
  <!--    <%#= attachment_image_tag @grow_plants[1].plant, :image, :fill, 120, 120 %>-->
  <!--  </div>-->
  <!--<end>-->