
  <div class="d-flex align-items-center justify-content-center mt-5">
    <div class="mr-5"><%= image_tag 'karasazu_logo.jpg'%></div>
    <div class="align-items-center justify-content-center ml-5">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <h2>ログイン</h2>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions mt-3">
        <%= f.submit "ログイン", class: "btn btn-outline-primary"  %>
      </div>
    <% end %>
    </div>
  </div>


