<!DOCTYPE html>
<html>
  <head>
    <title>karasazu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c4cc096aed.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <%=link_to admin_plants_path do %>
          <%= image_tag 'logo_top.jpg'%>
        <% end %>
        <ul>
          <li>
            <p>admin</p>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path %>
          </li>
        </ul>
      <% elsif user_signed_in? %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
