<!DOCTYPE html>
<html>
  <head>
    <title>karasazu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c4cc096aed.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <header class="shadow">
    <% if user_signed_in? %>
      <div class="header-content">
        <%=link_to top_path do %>
          <%= image_tag 'logo_top.png' %>
        <% end %>
      </div>
      <div class="header-content">
        <ul>
          <p>ユーザー名:<%= current_user.name %></p>
          <li><%= link_to "マイページ", users_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% elsif admin_signed_in? %>
      <div class="header-content">
        <%=link_to admin_plants_path do %>
          <%= image_tag 'logo_top.png'%>
        <% end %>
      </div>
      <div class="header-content">
        <ul>
          <p>管理者ログイン中</p>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <div class="header-content">
        <%=link_to root_path do %>
          <%= image_tag 'logo_top.png'%>
        <% end %>
      </div>
      <div class="header-content">
        <ul>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        </ul>
      </div>
    <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
